services:
  laravel-php-nginx-tcp:
    image: "${CI_REGISTRY_IMAGE}/php:${IMAGE_TAG}"
    restart: unless-stopped
    env_file:
      - .env

  laravel-nginx-tcp:
    image: "${CI_REGISTRY_IMAGE}/nginx:${IMAGE_TAG}"
    restart: unless-stopped
    ports:
      - "8000:80"

  migrate:
    image: "${CI_REGISTRY_IMAGE}/php:${IMAGE_TAG}"
    restart: "no"
    working_dir: /var/www/laravel
    env_file:
      - .env
    command: [ "sh", "-lc", "php artisan migrate --force" ]
    depends_on:
      laravel-postgres-nginx-socket:
        condition: service_healthy
    networks:
      - laravel-nginx-tcp-network